.alert-primary {
  color: #561982;
  background-color: #f2e8fa;
  border-color: #e9d7f7;
}

.alert-primary hr {
  border-top-color: #dec2f3;
}

.alert-primary .alert-link {
  color: #3a1158;
}

.badge-primary {
  color: #fff;
  background-color: #983ed9;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #7e25be;
}

.bg-primary {
  background-color: #983ed9 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #7e25be !important;
}

.border-primary {
  border-color: #983ed9 !important;
}

.btn-primary {
  color: #fff;
  background-color: #983ed9;
  border-color: #983ed9;
}

.btn-primary:hover {
  color: #fff;
  background-color: #8628cb;
  border-color: #7e25be;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(152, 62, 217, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #983ed9;
  border-color: #983ed9;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #7e25be;
  border-color: #7522b1;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(152, 62, 217, 0.5);
}

.btn-outline-primary {
  color: #983ed9;
  background-color: transparent;
  border-color: #983ed9;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #983ed9;
  border-color: #983ed9;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(152, 62, 217, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #983ed9;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #983ed9;
  border-color: #983ed9;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(152, 62, 217, 0.5);
}

.list-group-item-primary {
  color: #561982;
  background-color: #e9d7f7;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #561982;
  background-color: #dec2f3;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #561982;
  border-color: #561982;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #e9d7f7;
}

.table-hover .table-primary:hover {
  background-color: #dec2f3;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #dec2f3;
}

.text-primary {
  color: #983ed9 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #7e25be !important;
}
